/* css styles */

.navbar {
    border: none;
    border-bottom: 4px solid #2F6E79 !important;
  }

.nav-link {
  font-size: 1em;
  font-weight: bold;
  color: white;
}

.navbar-brand > img {
  max-height: 5vw;
}

.navbar-brand {
  font-size: 2.5em;
  color: white;
}

