/*-- scss:functions --*/

/*-- scss:defaults --*/
$navbar-bg: rgba(255, 255, 255, 0);
$navbar-link-color: #FFF;

$h2-font-size:          1rem !default;
$headings-font-weight:  500 !default;


/*-- scss:rules --*/
// Navbar link styling
.navbar {
  a {
    color: $navbar-link-color; // Set the default color
    text-decoration: none; // Optional: remove underlines

    &:hover {
    color: $navbar-link-color; // Set the default color
    text-decoration: none; // Optional: add underline on hover
    text-decoration-thickness: 3px; // Adjust thickness as needed
    }
    
      // Active link styling
    &.active {
      color: #ff5733; // Set the active link color
      font-weight: bold; // Optional: make active link stand out
    }
  }
}

